<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - info_hub</title>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/noticias.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
       
        <div class="container-header"></div>
        <div class="container-parent">
            <div class="search-container">
                <form action="/search" method="get">
                    <input type="text" placeholder="Digite sua busca..." name="search">
                    <button type="submit">BUSCAR</button>
                </form>
            </div>

            <div class="container-categorias">
                <ul class="menu">
                    <li class="menu-item"><a href="#">Política</a></li>
                    <li class="menu-item ativo"><a href="#">Mundo</a></li>
                    <li class="menu-item"><a href="#">Economia</a></li>
                    <li class="menu-item"><a href="#">Tecnologia</a></li>
                    <li class="menu-item"><a href="#">Negócios</a></li>
                    <li class="menu-item"><a href="#">Viagens</a></li>
                    <li class="menu-item"><a href="#">Clima</a></li>
                    <li class="menu-item"><a href="#">Moda</a></li>
                    <li class="menu-item"><a href="#">Comida</a></li>
                    <li class="menu-item"><a href="#">Esporte</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <!-- Footer / RODAPÉ DA PÁGINA -->
        <div id="footer_content">
            <div id="footer_logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/logo.png" alt="Logo InfoHub" width="80px">
                </a>
            </div>

            <ul class="footer-list">
                <li>
                    <a href="#" class="footer-link">Política</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Mundo</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Economia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Tecnologia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Negócios</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <a href="#" class="footer-link">Viagem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Clima</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Moda</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Comida</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Esportes</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Noticias")" class="footer-link">Desenvolvedor</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Adicione seu e-mail para receber as notícias resumidamente.
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2024 Todos os direitos reservados
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
