@model info_hub.Models.Fonte

@{
    ViewData["Title"] = "Details";
}

<h1>Dados da Fonte</h1>

<div>
    <h4>Fonte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index" class="btn btn-info">Retornar</a> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a> 
</div>
