@{
    ViewData["Title"] = "Home Page";
}


<section class="grid3">
    <div class="grid3-item background1">
        <img id="grid3" src="https://img.cancaonova.com/cnimages/canais/uploads/sites/11/2023/09/vitimas-fortes-chuvas-rio-grande-do-sul-ciclone-_-foto-Mauricio-Tonetto-Ulan-Pool-Latin-America-News-Agency-via-Reuters-Connect.png" width="480" height="540">
        <p>Com nova chuva, Guaíba volta a subir e pode passar dos 5 metros</p>
    </div>

    <div class="grid3-item background2">
        <img id="grid3" src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportDomesticNews/tagreuters.com2023binary_LYNXMPEJAJ00M-FILEDIMAGE-e1700587247322.jpg?w=1220&h=674&crop=1" width="450" height="257">
        <p>“Vocês não estão sozinhas”, diz Lula em vídeo às mães do Rio Grande do Sul</p>
    </div>

    <div class="grid3-item background3">
        <img id="grid3" src="https://conteudo.imguol.com.br/c/noticias/b4/2024/05/04/dezenas-de-pessoas-foram-resgatadas-por-bombeiros-agentes-do-exercito-e-da-defesa-civil-alem-de-voluntarios-em-cruzeiro-do-sul-municipio-proximo-a-venancio-aires-no-rio-grande-do-sul-nesta-1714841283121_v2_900x506.jpg">
        <p>Em barco, repórter da CNN mostra bairros vazios e alagados em Pelotas (RS); assista</p>
    </div>
</section>

<div class="linha_horizontal"></div>

<div class="ntcLista newsrow">
    <img id="ntcLista" src="https://s2-g1.glbimg.com/fQtKHoSG-GY5lcDbhbKVNr1ImiQ=/0x0:5500x3668/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/A/L/0wAx0HRSOB7VXQYQ6psA/2024-05-20t151236z-1613748779-rc2cu7atnrfv-rtrmadp-3-brazil-rains.jpg" width="320" height="180">
    <h1>Água baixa no Guaíba e nas ruas, enquanto Porto Alegre avalia estragos e retoma aulas</h1>
    <p>Lago Guaíba chegou a 4,25 metros nesta segunda na capital Porto Alegre. Na Lagoa dos Patos, nível baixou a 2,51 metros. Moradores de áreas de risco começaram a voltar para casa na Serra.</p>
    <h2>Por G1</h2>
    <h3>Há 2 horas - Rio Grande do Sul</h3>
</div>

<div class="linha_horizontal"></div>

<div class="ntcLista newsrow">
    <img id="ntcLista" src="https://s2-g1.glbimg.com/G263qL_nYW2aktuIuWxYx18bhMs=/0x0:800x450/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/F/o/F1OvE3QLaoutAZoDxARg/5d8c7de0-1093-11ef-82e8-cd354766a224.jpg" width="320" height="180">
    <h1>Auxílio Reconstrução: famílias do RS terão que confirmar dados no Gov.br a partir do dia 27</h1>
    <p>Na primeira etapa, governo federal vai receber dados das prefeituras sobre áreas afetadas. Lula anunciou PIX de R$ 5,1 mil por família que perdeu bens nas chuvas históricas no estado.</p>
    <h2>Por G1</h2>
    <h3>Há 2 horas - Em Política</h3>
</div>

<div class="linha_horizontal"></div>

<div class="ntcLista newsrow">
    <img id="ntcLista" src="https://s2-g1.glbimg.com/UOB1NrpkB_e7vBsdr9CeYkj0bsw=/0x109:1700x1065/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/s/f/1djFgMRcOWzEXHuk9ouA/jogo-caixa.png" width="320" height="180">
    <h1>Quina: 2 apostas acertam e levam mais de R$ 14 milhões cada</h1>
    <p>Sorteio ocorreu nesta segunda-feira (20). Duas apostas acertaram os 5 números. Estimativa do prêmio do próximo concurso, que será realizado na terça-feira, (21) é de R$ 700 mil.</p>
    <h2>Por G1</h2>
    <h3>Há 2 horas - Loterias</h3>
</div>

<div class="linha_horizontal"></div>

<div class="ntcLista newsrow">
    <img id="ntcLista" src="https://s2-g1.glbimg.com/pwkqhhbJMVH0AI6mUZsZiCBpYDM=/0x85:1278x804/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/u/s/33pA4XQBGNsP5cBAUqsA/ivonette-natalia-e-artemio.jpg" width="320" height="180">
    <h1>Scarlett Johansson diz que OpenAI imitou sua voz no ChatGPT: 'fiquei chocada'</h1>
    <p>Atriz afirma que foi convidada para licenciar sua voz para o sistema, mas que negou por 'motivos pessoais'. Empresa pausou uso do modelo Sky nesta segunda-feira (20).</p>
    <h2>Por G1</h2>
    <h3>Há 2 horas - Loterias</h3>
</div>
</div>

<div class="linha_horizontal"></div>