<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/style.css"> <!-- Local do diretório do style, central de notícias -->
    <link rel="stylesheet" href="assets/css/footer.css"> 
    <link rel="stylesheet" href="assets/javascript/javascript">
    
    <title>InfoHub</title>
</head>
<body>

    <header> <!-- Header / CABEÇALHO DA PÁGINA -->
        <div id="header_content">
            <div id="header_logo">
                <img src="img/logo.png" alt="Logo InfoHub" width="80px">
            </div>
    
            <div class="container"> <!-- Placeholder = Barra de pesquisa -->
                <input checked="" class="checkbox" type="checkbox"> 
                <div class="mainbox">
                    <div class="iconContainer">
                        <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
                    </div>
                    <input class="search_input" placeholder="Digite algo..." type="text"> 
                </div>
            </div>
        </div>

        <!-- Lista horizontal header -->
        <div id="lista_horizontal">
            <ul class="lista-horizontal">
                <li>
                    <a href="#" class="header-link">Política</a>
                </li>
                <li>
                    <a href="#" class="header-link">Mundo</a>
                </li>
                <li>
                    <a href="#" class="header-link">Economia</a>
                </li>
                <li>
                    <a href="#" class="header-link">Tecnologia</a>
                </li>
                <li>
                    <a href="#" class="header-link">Negócios</a>
                </li>
                <li>
                    <a href="#" class="header-link">Viagens</a>
                </li>
                <li>
                    <a href="#" class="header-link">Clima</a>
                </li>
                <li>
                    <a href="#" class="header-link">Moda</a>
                </li>
                <li>
                    <a href="#" class="header-link">Comida</a>
                </li>
                <li>
                    <a href="#" class="header-link">Esporte</a>
                </li>
            </ul>
        </div>
    </header>


<main>

    <section class="grid3">
        <div class="grid3-item background1">
            <img id="grid3" src="https://img.cancaonova.com/cnimages/canais/uploads/sites/11/2023/09/vitimas-fortes-chuvas-rio-grande-do-sul-ciclone-_-foto-Mauricio-Tonetto-Ulan-Pool-Latin-America-News-Agency-via-Reuters-Connect.png" width="480" height="540">
            <p>Com nova chuva, Guaíba volta a subir e pode passar dos 5 metros</p>
        </div>

        <div class="grid3-item background2">
            <img id="grid3" src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/Reuters_Direct_Media/BrazilOnlineReportDomesticNews/tagreuters.com2023binary_LYNXMPEJAJ00M-FILEDIMAGE-e1700587247322.jpg?w=1220&h=674&crop=1" width="450" height="257">
            <p>“Vocês não estão sozinhas”, diz Lula em vídeo às mães do Rio Grande do Sul</p>
        </div>

        <div class="grid3-item background3">
            <img id="grid3" src="https://conteudo.imguol.com.br/c/noticias/b4/2024/05/04/dezenas-de-pessoas-foram-resgatadas-por-bombeiros-agentes-do-exercito-e-da-defesa-civil-alem-de-voluntarios-em-cruzeiro-do-sul-municipio-proximo-a-venancio-aires-no-rio-grande-do-sul-nesta-1714841283121_v2_900x506.jpg">
            <p>Em barco, repórter da CNN mostra bairros vazios e alagados em Pelotas (RS); assista</p>
        </div>
    </section>

    <div class="linha_horizontal"></div>     

    <div class="ntcLista newsrow">
        <img id="ntcLista" src="https://s2-g1.glbimg.com/fQtKHoSG-GY5lcDbhbKVNr1ImiQ=/0x0:5500x3668/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/A/L/0wAx0HRSOB7VXQYQ6psA/2024-05-20t151236z-1613748779-rc2cu7atnrfv-rtrmadp-3-brazil-rains.jpg"width="320" height="180">
        <h1>Água baixa no Guaíba e nas ruas, enquanto Porto Alegre avalia estragos e retoma aulas</h1>
        <p>Lago Guaíba chegou a 4,25 metros nesta segunda na capital Porto Alegre. Na Lagoa dos Patos, nível baixou a 2,51 metros. Moradores de áreas de risco começaram a voltar para casa na Serra.</p>
        <h2>Por G1</h2>
        <h3>Há 2 horas - Rio Grande do Sul</h3>
    </div>

    <div class="linha_horizontal"></div> 

    <div class="ntcLista newsrow">
        <img id="ntcLista" src="https://s2-g1.glbimg.com/G263qL_nYW2aktuIuWxYx18bhMs=/0x0:800x450/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/F/o/F1OvE3QLaoutAZoDxARg/5d8c7de0-1093-11ef-82e8-cd354766a224.jpg"width="320" height="180">
        <h1>Auxílio Reconstrução: famílias do RS terão que confirmar dados no Gov.br a partir do dia 27</h1>
        <p>Na primeira etapa, governo federal vai receber dados das prefeituras sobre áreas afetadas. Lula anunciou PIX de R$ 5,1 mil por família que perdeu bens nas chuvas históricas no estado.</p>
        <h2>Por G1</h2>
        <h3>Há 2 horas - Em Política</h3>
    </div>

    <div class="linha_horizontal"></div> 

    <div class="ntcLista newsrow">
        <img id="ntcLista" src="https://s2-g1.glbimg.com/UOB1NrpkB_e7vBsdr9CeYkj0bsw=/0x109:1700x1065/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/s/f/1djFgMRcOWzEXHuk9ouA/jogo-caixa.png"width="320" height="180">
        <h1>Quina: 2 apostas acertam e levam mais de R$ 14 milhões cada</h1>
        <p>Sorteio ocorreu nesta segunda-feira (20). Duas apostas acertaram os 5 números. Estimativa do prêmio do próximo concurso, que será realizado na terça-feira, (21) é de R$ 700 mil.</p>
        <h2>Por G1</h2>
        <h3>Há 2 horas - Loterias</h3>
    </div>

    <div class="linha_horizontal"></div> 

    <div class="ntcLista newsrow">
        <img id="ntcLista" src="https://s2-g1.glbimg.com/pwkqhhbJMVH0AI6mUZsZiCBpYDM=/0x85:1278x804/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/u/s/33pA4XQBGNsP5cBAUqsA/ivonette-natalia-e-artemio.jpg"width="320" height="180">
        <h1>Scarlett Johansson diz que OpenAI imitou sua voz no ChatGPT: 'fiquei chocada'</h1>
        <p>Atriz afirma que foi convidada para licenciar sua voz para o sistema, mas que negou por 'motivos pessoais'. Empresa pausou uso do modelo Sky nesta segunda-feira (20).</p>
        <h2>Por G1</h2>
        <h3>Há 2 horas - Loterias</h3>
    </div>
</div>

    <div class="linha_horizontal"></div> 

</main>

    <footer>   <!-- Footer / RODAPÉ DA PÁGINA -->
        <div id="footer_content">
            <div id="footer_logo">
                <img src="img/logo.png" alt="Logo InfoHub" width="80px">
            </div>
            
            <ul class="footer-list">
                <li>
                    <a href="#" class="footer-link">Política</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Mundo</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Economia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Tecnologia</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Negócios</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <a href="#" class="footer-link">Viagem</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Clima</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Moda</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Comida</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Esportes</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Desenvolvedor</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Adicione seu e-mail para receber as notícias resumidamente.
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2024 Todos os direitos reservados
        </div>
    </footer>

</body>
</html>