@model IEnumerable<info_hub.Models.Noticia>

<!-- Inclua o CSS personalizado -->
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Certifique-se de que seu layout está configurado corretamente
}

<link href="https://fonts.googleapis.com/css?family=Georgia&display=swap" rel="stylesheet" />
<link href="./css/home.css" rel="stylesheet" />


<div class="container-background-header-news"></div>
        
<div class="container-header-rigth-news">
    <div class="news-container">
        <span class="news-title">Mais aeroportos usarão uma abordagem de ‘deslizamento’ mais ecológica para pouso</span>
        <div class="news-meta">
            <span class="news-author">Por G1</span>
            <span class="news-date">Feb. 4, 2023</span>
        </div>

    </div>
</div>
        
<div class="v1552_266"></div>


<div class="container-noticia-01">
    <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg" width="100%" height="100%"/>
    <span>
        Democrats Overhaul Party’s Primary Calendar, Upending a Political Tradition
    </span>
</div>

<div class="container-noticia-02-background"></div>
<div class="container-noticia-02">
    <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg" width="100%" height="100%"/>
    <span>
        O secretário de Estado Antony J. Blinken cancelou na sexta-feira uma viagem de fim de semana a Pequim depois que um balão espião chinês foi avistado
    </span>
</div>


<div class="container-noticia-03">
    <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg" width="326" height="240">
    <span>Balloon’s Journey</span>
</div>

<span class="container-ultimas-noticias">Últimas notícias><hr/>
</span>

@for (var i = 0; i < 2; i++)
{
    <div class="container-noticia-04">
        <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg" width="100%" height="100%">
        <span class="titulo">
            Pervez Musharraf, ex-governante militar do Paquistão, morre aos 79 anos
        </span>
        <span class="autor">Por G1</span>
        <span class="data">Feb. 4, 2023</span>
    </div>

    <div class="container-noticia-05">
        <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg" width="100%" height="100%">
        <span class="titulo">
            Aumentam os temores em torno do caso “catastrófico” de pílulas abortivas à medida que a decisão se aproxima
        </span>
        <span class="autor">Por G1</span>
        <span class="data">Feb. 4, 2023</span>
    </div>
}


<div class="container-noticia-06">
    <div class="noticia">
        <span class="titulo">Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante</span>
        <hr class="divider"/>
        <span class="autor">Por G1</span>
        <span class="data">Feb. 4, 2023</span>
    </div>
</div>

<div class="container-noticia-07">
    <div class="noticia">
        <span class="titulo">Mais aeroportos usarão uma abordagem de ‘deslizamento’ mais ecológica para pouso</span>
        <hr class="divider"/>
        <span class="autor">Por G1</span>
        <span class="data">Feb. 4, 2023</span>
    </div>
</div>



<div class="btn-ver-mais">
    <span>Ver mais</span>
</div>
        
<span class="v1552_368">Notícias populares</span>


<div class="container-noticias-lateral">
    @for (var i = 0; i < 6; i++)
    {
        <div class="container-lateral">
                <img src="https://s2-g1.glbimg.com/qwLkfIkRJlIGhX7-vCb2_xZ5yrI=/0x525:5042x3361/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/Z/0/e3C3xHQDeJTmufDiGXPg/2024-06-11t224023z-1119071016-rc2998agltpv-rtrmadp-3-brazil-dailylife.jpg">
            <div class="container-noticia-lateral-info">
                    <span class="titulo">teste</span>
                    <span class="date">teste</span>
            </div>
        </div>
    }
</div>
