@{
    ViewData["Title"] = "Viagens";
}
<div id="containerCategorias">
    <h1 id="tituloPaginas" class="text-center my-4">VIAGENS</h1>
    <hr id="linhaDiv">
    <div id="noticiasContainer">
        <div class="coluna">
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
        </div>
        <div class="coluna">
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
        </div>
        <div class="coluna">
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
        </div>
        <div class="coluna">
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
            <div class="itemNoticia">
                <a href="https://google.com" class="linkCategorias">
                    Londres a Istambul de trem: esta aventura ferroviária de 10 dias é o sonho de qualquer viajante lento
                </a>
                <p>15/06/2023 | Fonte | Mundo</p>
            </div>
        </div>
    </div>
    <a href="https://google.com" class="verMais">Ver mais</a>
</div>
