@model info_hub.Models.Noticia

@{
    ViewData["Title"] = "Create";
}


<h1 class="text-center my-4" id="tituloUm">Adicionar notícia</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tema" class="control-label" id="titulosTabelas"></label>
                <h6 >Tema</h6>
                <input asp-for="Tema" class="form-control" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label" id="titulosTabelas"></label>
                <h6>Título</h6>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label" id="titulosTabelas"></label>
                <h6>Data da publicação</h6>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Adicionar Notícia" class="btn btn-primary mx-2" />
                <a asp-action="Index" class="btn btn-secondary mx-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
