@model info_hub.Models.Tema

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Politica" class="control-label"></label>
                <input asp-for="Politica" class="form-control" />
                <span asp-validation-for="Politica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mundo" class="control-label"></label>
                <input asp-for="Mundo" class="form-control" />
                <span asp-validation-for="Mundo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Economia" class="control-label"></label>
                <input asp-for="Economia" class="form-control" />
                <span asp-validation-for="Economia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnologia" class="control-label"></label>
                <input asp-for="Tecnologia" class="form-control" />
                <span asp-validation-for="Tecnologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Negócios" class="control-label"></label>
                <input asp-for="Negócios" class="form-control" />
                <span asp-validation-for="Negócios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viagens" class="control-label"></label>
                <input asp-for="Viagens" class="form-control" />
                <span asp-validation-for="Viagens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clima" class="control-label"></label>
                <input asp-for="Clima" class="form-control" />
                <span asp-validation-for="Clima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moda" class="control-label"></label>
                <input asp-for="Moda" class="form-control" />
                <span asp-validation-for="Moda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida" class="control-label"></label>
                <input asp-for="Comida" class="form-control" />
                <span asp-validation-for="Comida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Esporte" class="control-label"></label>
                <input asp-for="Esporte" class="form-control" />
                <span asp-validation-for="Esporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
