* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.container-body {
    width: 100%;
    height: 2695px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.container-header {
    width: 100%;
    height: 210px;
    background: rgba(2, 8, 9, 1);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


.container-categorias {
    width: 100%;
    max-width: 1240px;
    height: 50px;
    background: rgba(26, 26, 26, 1);
    opacity: 1;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.container-logo {
    width: 108px;
    height: 90px;
    background: url("../images/v1577_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.menu-container {
    background-color: black; /* Cor de fundo do menu */
}

.menu {
    display: flex; /* Ativa o Flexbox para distribuir os itens */
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    justify-content: center; /* Centraliza os itens do menu */
}

.menu-item {
    margin: 0 10px; /* Adiciona espaçamento entre os itens */
}

    .menu-item a {
        display: block; /* Garante que o link ocupe toda a área do item */
        padding: 15px; /* Adiciona padding ao link */
        color: white; /* Cor do texto dos links */
        text-decoration: none; /* Remove a decoração dos links */
        font-family: Georgia;
        font-size: 16px
    }

    .menu-item.ativo a {
        border-bottom: 150px solid #008000; /* Adiciona a borda verde no item ativo */
        background: rgba(4, 89, 77, 1);
        opacity: 1;
    }


.search-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 750px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    height: 40px;
    background: rgba(4, 89, 77, 1);
    opacity: 1;
    padding: 10px 0px;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    overflow: hidden;
    left: 1140px;
}

form {
    display: flex;
    width: 100%;
}

input[type="text"] {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #084C4F; /* Cor verde escuro */
    border-radius: 4px 0 0 4px;
    width: 100%;
    background-color: #084C4F; /* Fundo verde escuro */
    color: #f0f0f0;
    flex: 1;
}

    input[type="text"]::placeholder {
        color: #a7c3c0; /* Cor do placeholder */
    }

button {
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #7B2E2E; /* Cor vermelha escura */
    border-left: none;
    background-color: #7B2E2E; /* Fundo vermelho escuro */
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -4px;
}

    button:hover {
        background-color: #5a1f1f; /* Efeito hover no botão */
    }

/* Responsividade */
@media (max-width: 768px) {
    .container-categorias {
        width: 100%;
        top: 180px;
    }

    .container-logo {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin: 5px 0;
    }

    .search-container {
        top: 120px;
    }
}

@media (max-width: 480px) {
    .container-header {
        height: auto;
        padding-bottom: 20px;
    }

    .container-categorias {
        width: 100%;
        top: 180px;
        left: 0;
        transform: none;
    }

    .container-logo {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin: 5px 0;
    }

    .search-container {
        position: static;
        width: 100%;
        max-width: none;
        margin: 10px 0;
    }

    input[type="text"] {
        width: 70%;
    }

    button {
        width: 30%;
        margin-left: 0;
    }
}
