@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-40: #f5f5f5;
    --color-neutral-30: #a8a29e;
    --color-neutral-0: #000000;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* header / barra preta superior */
header {
    width: 100%;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-40);
    padding: 3px;
    position: relative; /* Para posicionamento da barra de busca */
}

#header_content {
    width: 100%;
    display: flex;
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: space-between; /* Distribui o espaço uniformemente */
    padding: 3px;
    padding-left:80px;
    background-color: black;
}

#header_logo {
    flex: 0 0 auto; /* Não encolhe nem cresce */
}

    #header_logo img {
        max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
        height: auto;
    }

/* Placeholder da barra de pesquisa */
.container {
    flex: 1; /* Permite que ocupe o espaço disponível */
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    align-items: center;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: white;
    transition: all 0.3s ease;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

    .checkbox:checked ~ .mainbox {
        width: 50px;
    }

        .checkbox:checked ~ .mainbox .search_input {
            width: 0;
            height: 0;
        }

        .checkbox:checked ~ .mainbox .iconContainer {
            padding-right: 8px;
        }

.checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: black;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .search_input::placeholder {
        color: rgba(0, 0, 0, 0.776);
    }

.iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: black;
    font-size: 1em;
}

/* Lista horizontal */
.lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 3px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    font-size: 14px;
}

    .lista-horizontal li {
        margin-right: 30px;
    }

        .lista-horizontal li:last-child {
            margin-right: 0;
        }

.header-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

    .header-link:hover {
        color: var(--color-neutral-30);
    }

/* Responsividade */
@media screen and (max-width: 768px) {
    #header_content {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens ao início na horizontal */
    }

    #header_logo {
        margin-left: ;
        margin-bottom: 10px;
    }

    .container {
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        margin-right: 0;
        width: 100%;
    }

    .mainbox {
        width: 100%;
    }

    .checkbox {
        right: 20px;
    }

    .lista-horizontal {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 10px;
    }

        .lista-horizontal li {
            margin-right: 10px;
            margin-bottom: 10px;
        }
}
